body {
  margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #4CAF50;
}

ul.topnav li.left {
  float: left;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.pageindex{
  background-image: url(img/fond1.png);
}
.pagetrek{
  background-image: url(img/fond2.png);
}
.pagecontact{
  background-image: url(img/fond3.png);
}
.pageprestation{
  background-image: url(img/fond4.png);
}
